<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="utf-8" />
    <title>MRS - Administración Integral S.C.</title>
    <link rel="icon" href="images/icon.png" type="image/gif" sizes="16x16">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="MRS - Administración Integral S.C." name="description" />
    <meta content="" name="keywords" />
    <meta content="" name="author" />
    <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    <!-- CSS Files
    ================================================== -->
    <link id="bootstrap" href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/css/owl.theme.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/css/owl.transitions.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/css/jquery.countdown.css" rel="stylesheet" type="text/css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MRS.styles.css" asp-append-version="true" />
    <!-- color scheme -->
    <link id="colors" href="~/css/colors/scheme-01.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/css/coloring.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- RS5.0 Stylesheet -->
    <link rel="stylesheet" href="revolution/css/settings.css" type="text/css">
    <link rel="stylesheet" href="revolution/css/layers.css" type="text/css">
    <link rel="stylesheet" href="revolution/css/navigation.css" type="text/css">
</head>

<body>
    <div id="wrapper">
        
        <!-- header begin -->
        <header class="transparent scroll-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a asp-area="" asp-page="/Index">
                                        <img alt="" class="logo" src="images/logo-light.png" />
                                        <img alt="" class="logo-2" src="images/logo.png" />
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li>
                                        <a asp-area="" asp-page="/Index">Início</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-page="/About">Conócenos</a>
                                        <ul>
                                            <li><a asp-area="" asp-page="/About">Nosotros</a></li>
                                            <li><a asp-area="" asp-page="/Team">Equipo</a></li>
                                            <li><a asp-area="" asp-page="/FAQ">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-page="/Services">Servicios</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-page="/Clients">Clientes</a>
                                    </li>
                                    <li><a asp-area="" asp-page="/Contact">Contacto</a></li>

                                </ul>
                                <!-- mainmenu close -->
                            </div>
                            <div class="de-flex-col">
                                <div class="h-phone md-hide"><span>¿Necesitas ayuda?</span><i class="fa fa-phone"></i> 442 148 7777</div>
                                <span id="menu-btn"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        @RenderBody()
        <!-- footer begin -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <a href="index.html"><img alt="" class="img-fluid mb20" src="images/logo-light.png"></a>
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>Calle Francisco Javier Clavijero #13, Colonia Los Molinos 2da. Sección, Querétaro, Qro., C.P. 76150</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i>442 148 7777</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">administracion@mrs-administracion.com</a></span>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h4 class="id-color mb20">Servicios</h4>
                        <ul class="ul-style-2">
                            <li>Servicios jurídicos en área laboral</li>
                            <li>Seguridad y salud en el trabajo</li>
                            <li>Sistemas de análisis de puntos de riesgo y vulnerabilidad de instalaciones</li>
                            <li>Diseño, capacitación y gestión de sistemas de calidad en la industria</li>
                            <li>Primeros auxilios</li>
                            <li>Salud mental y prevención de factores de riesgo psicosocial en centros de trabajo</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row g-4 align-items-center">
                        <div class="col-lg-6">
                            &copy; Copyright 2024
                        </div>
                        <div class="col-lg-6 text-lg-end">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
        <div id="preloader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <!-- Javascript Files
    ================================================== -->
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/validation.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/enquire.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.plugin.js"></script>
    <script src="~/js/typed.js"></script>
    <script src="~/js/jarallax.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/jquery.countdown.js"></script>
    <script src="~/js/typed.js"></script>
    <script src="~/js/jarallax.js"></script>
    <script src="~/js/mdb.min.js"></script>
    <script src="~/js/designesia.js"></script>
</body>

</html>






