@page
@model MRS.Pages.AboutModel
@{
}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-white">
        <img src="images/background/subheader3.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="spacer-single"></div>
                        <h1>Nosostros</h1>
                        <p>Seguridad. Ética. Compromiso.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <section aria-label="section" data-bgcolor="#ffffff">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <span class="p-title">¿Quiénes somos?</span><br>
                    <h2>Historia</h2>
                    <p class="text-justify">Nos presentamos como una firma líder en la prestación de servicios jurídicos especializados y gestión integral de licencias y permisos federales. Somos una empresa queretana, comprometida en plantear altas metas que permitan entregar resultados de la mejor calidad y cumplir con los requerimientos de nuestros clientes.</p>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="de-images">
                        <img class="di-small-2" src="images/misc/d2.jpg" alt="" />
                        <img class="di-big img-fluid" src="images/misc/d1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 offset-lg-7">
                    <span class="p-title">¿Qué nos define?</span><br>
                    <h2>
                    </h2>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Visión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Misión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Valores</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p class="text-justify">Nos esforzamos por ser líderes en servicios jurídicos y gestión de licencias, destacando por nuestra excelencia, integridad y compromiso con la seguridad jurídica y el éxito de nuestros clientes en el ámbito corporativo y laboral.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p class="text-justify">Nos comprometemos a ofrecer servicios jurídicos integrales y gestión de licencias enfocados en seguridad, ética y compromiso, asegurando el crecimiento y la protección de nuestros clientes en un entorno empresarial dinámico.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <ul class="ul-style-2 wow fadeInRight" data-wow-delay=".2s"></ul>
                            <li class="text-justify">Seguridad: Garantizamos seguridad jurídica y cumplimiento normativo mediante asesoramiento legal y gestión de licencias.</li>
                            <li class="text-justify">Ética: Actuamos con honestidad, transparencia y respeto, siguiendo altos estándares éticos en la práctica del derecho y la gestión empresarial.</li>
                            <li class="text-justify">Compromiso: Nos dedicamos a comprender las necesidades únicas de cada cliente y trabajar incansablemente para proteger sus intereses, manteniendo un compromiso inquebrantable con su éxito y satisfacción.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarallax image-container col-md-6 pull-right">
            <img src="images/background/9.jpg" class="jarallax-img" alt="">
        </div>
    </section>
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Equipo</h2>
                    <div class="small-border"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".2s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="images/team/1.jpg" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Lic. Ricardo Azuela</h4>
                        Managing Partner
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".4s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="images/team/2.jpg" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Lic. David Macías</h4>
                        Senior Partner
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="images/team/3.jpg" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Lic. Álvaro Macías</h4>
                        Associate
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section id="section-text" data-bgcolor="#111111" class="text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12 wow fadeInRight" data-wow-delay=".2s">
                    <div class="de_count ultra-big s2 text-center">
                        <h3 class="timer" data-to="20" data-speed="1000">20</h3>
                        <span class="id-color">Years of Experience</span>
                    </div>
                </div>
                <div class="col-lg-4 p-lg-5  mb-sm-30 wow fadeInRight" data-wow-delay=".4s">
                    <span class="p-title">Welcome</span><br>
                    <h2>Justica is Your Best Partner for Legal Solutions</h2>
                </div>
                <div class="col-lg-4 wow fadeInRight" data-wow-delay=".6s">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-letter"></i>
                        <div class="text">
                            <h4>Request Quote</h4>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </div>
                        <i class="wm icofont-letter"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-investigation"></i>
                        <div class="text">
                            <h4>Investigation</h4>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </div>
                        <i class="wm icofont-investigation"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-hand-power"></i>
                        <div class="text">
                            <h4>Case Fight</h4>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                        </div>
                        <i class="wm icofont-hand-power"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
</div>