@page
@model MRS.Pages.ClientsModel
@{
}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-white">
        <img src="images/background/subheader2.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="spacer-single"></div>
                        <h1>Clientes Principales</h1>
                        <p>Reputation. Respect. Result.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section begin -->
    <section aria-label="section">
        <div class="container">
            <div class="row p-lg-5">
                <div class="col-md-4 mb30">
                    <div class="de-image-hover">
                        <a href="images/clients/b.png" class="image-popup">
                            <span class="dih-title-wrap">
                                <span class="dih-title">San Juan del Río Motors SA de CV</span>
                            </span>
                            <span class="dih-overlay"></span>
                            <img src="images/clients/b.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb30">
                    <div class="de-image-hover">
                        <a href="images/clients/c.png" class="image-popup">
                            <span class="dih-title-wrap">
                                <span class="dih-title">Inmotion Constituyentes SA de CV</span>
                            </span>
                            <span class="dih-overlay"></span>
                            <img src="images/clients/c.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb30">
                    <div class="de-image-hover">
                        <a href="images/clients/d.png" class="image-popup">
                            <span class="dih-title-wrap">
                                <span class="dih-title">Inmotion Rally SA de CV</span>
                            </span>
                            <span class="dih-overlay"></span>
                            <img src="images/clients/d.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-12 mb30 p-lg-5"></div>
                <div class="col-md-4 mb30">
                    <div class="de-image-hover">
                        <a href="images/clients/e.png" class="image-popup">
                            <span class="dih-title-wrap">
                                <span class="dih-title">Inmotion Celaya S de RL de CV</span>
                            </span>
                            <span class="dih-overlay"></span>
                            <img src="images/clients/e.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb30">
                    <div class="de-image-hover">
                        <a href="images/clients/g.jpg" class="image-popup">
                            <span class="dih-title-wrap">
                                <span class="dih-title">Nomia Consultores SC</span>
                            </span>
                            <span class="dih-overlay"></span>
                            <img src="images/clients/g.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb30">
                    <div class="de-image-hover">
                        <a href="images/clients/a.png" class="image-popup">
                            <span class="dih-title-wrap">
                                <span class="dih-title">Ronda Automotriz SA de CV</span>
                            </span>
                            <span class="dih-overlay"></span>
                            <div class="text-center">
                                <img src="images/clients/a.png" class="img-fluid" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 mb30 p-lg-5"></div>
                <div class="col-md-4 mb30">
                    <div class="de-image-hover">
                        <a href="images/clients/f.jpg" class="image-popup">
                            <span class="dih-title-wrap">
                                <span class="dih-title">Colegio Fray Luis de Leon</span>
                            </span>
                            <span class="dih-overlay"></span>
                            <div class="text-center">
                                <img src="images/clients/f.jpg" class="img-fluid" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>