@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- revolution slider begin -->
    <section id="de-carousel" class="no-top no-bottom carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-mdb-target="#de-carousel" data-mdb-slide-to="0" class="active"></li>
            <li data-mdb-target="#de-carousel" data-mdb-slide-to="1"></li>
            <li data-mdb-target="#de-carousel" data-mdb-slide-to="2"></li>
        </ol>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active" data-bgimage="url(images/slider/2.jpg)">
                <div class="mask">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="container text-white">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4 class="id-color wow fadeInUp">Need Any Help?</h4>
                                    <h1 class="mb-3 wow fadeInUp">We Fight for Right</h1>
                                    <p class="lead wow fadeInUp" data-wow-delay=".3s">Providing legal representation and counsel to safeguard your rights. Navigate complex legal challenges, and pursue justice with unwavering dedication.</p>
                                    <div class="spacer-10"></div>
                                    <a href="practice-areas-4.html" class="btn-custom wow fadeInUp" data-wow-delay=".6s">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-bgimage="url(images/slider/1.jpg)">
                <div class="mask">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="container text-white">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4 class="id-color wow fadeInUp">Law &amp; Insurance Specialist</h4>
                                    <h1 class="mb-3 wow fadeInUp">Because We Care</h1>
                                    <p class="lead wow fadeInUp" data-wow-delay=".3s">Providing legal representation and counsel to safeguard your rights. Navigate complex legal challenges, and pursue justice with unwavering dedication.</p>
                                    <div class="spacer-10"></div>
                                    <a href="practice-areas-4.html" class="btn-custom wow fadeInUp" data-wow-delay=".6s">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Inner -->
        <!-- Controls -->
        <a class="carousel-control-prev" href="#de-carousel" role="button" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#de-carousel" role="button" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </section>
    <!-- revolution slider close -->
    <section class="pt40 pb40 bg-color text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 mb-sm-30 text-lg-start text-sm-center">
                    <h3 class="no-bottom">
                        ¡Contáctanos Ahora! Tu mejor opción
                    </h3>
                </div>
                <div class="col-md-4 text-lg-end rtl-lg-start text-sm-center">
                    <a asp-area="" asp-page="/Contact" class="btn-custom btn-ind light">Contactar</a>
                </div>
            </div>
        </div>
    </section>
    <section id="section-highlight" class="relative" data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="p-title">Bienvenido</span><br>
                    <h2>
                        Seguridad.<br>Ética. Compromiso.
                    </h2>
                    <div class="small-border sm-left"></div>
                </div>
                <div class="col-md-8">
                    <p class="text-justify">
                        En MRS ADMINISTRACION INTEGRAL, S.C., entendemos los desafíos legales y regulatorios que enfrentan las empresas en el ámbito corporativo y laboral. Es por eso que nos comprometemos a brindarle asesoramiento legal experto en áreas como derecho corporativo, laboral y gestión de licencias, garantizando su cumplimiento normativo y protegiendo sus intereses en cada paso del camino. Nuestro equipo de profesionales altamente calificados está dedicado a comprender las necesidades únicas de su empresa y a trabajar incansablemente para encontrar soluciones personalizadas que impulsen su éxito. Nos esforzamos por cultivar relaciones sólidas y de confianza con nuestros clientes, basadas en la comunicación abierta, la atención personalizada y la entrega de resultados excepcionales en cada proyecto que emprendemos juntos.
                    </p>
                </div>
            </div>
            <div class="spacer-double"></div>
        </div>
    </section>
    <section class="no-top relative z1000">
        <div class="container">
            <div class="row mt-100">
                <div class="col-md-4 wow fadeInRight" data-wow-delay=".2s">
                    <div class="mask">
                        <img src="~/images/background/13.jpg" alt="" class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-4 wow fadeInRight" data-wow-delay=".4s">
                    <div class="mask">
                        <img src="~/images/background/12.jpg" alt="" class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-4 wow fadeInRight" data-wow-delay=".6s">
                    <div class="mask">
                        <img src="~/images/background/11.jpg" alt="" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 offset-lg-7">
                    <h2>
                        Deja Que Nuestra Experiencia<br>Sea Tu Guía
                    </h2>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Servicio 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Servicio 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Servicio 3</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p class="text-justify">Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p class="text-justify">Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <p class="text-justify">Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jarallax image-container col-md-6 pull-right">
            <img src="images/background/9.jpg" class="jarallax-img" alt="">
        </div>
    </section>
    <section id="section-practice-areas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2>Servicios</h2>
                        <div class="small-border"></div>
                    </div>
                </div>
                <div class="col-md-6 offset-md-3 text-center">
                    <p></p>
                </div>
                <div class="spacer-single"></div>
                <div class="col-md-4">
                    <ul class="ul-style-2 wow fadeInRight" data-wow-delay=".2s">
                        <li>Servicios jurídicos en área laboral</li>
                        <li>Seguridad y salud en el trabajo</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="ul-style-2 wow fadeInRight" data-wow-delay=".4s">
                        <li>Primeros auxilios</li>
                        <li>Sistemas de análisis de puntos de riesgo y vulnerabilidad de instalaciones</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="ul-style-2 wow fadeInRight" data-wow-delay=".6s">

                        <li>Diseño, capacitación y gestión de sistemas de calidad en la industria</li>
                        <li>Salud mental y prevención de factores de riesgo psicosocial en centros de trabajo</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="jarallax text-light">
        <img src="images/background/2.jpg" class="jarallax-img" alt="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12 wow fadeInRight" data-wow-delay=".2s">
                    <div class="de_count ultra-big s2 border-light text-center">
                        <h3 class="timer" data-to="20" data-speed="1000">20</h3>
                        <span class="id-color">Years of Experience</span>
                    </div>
                </div>
                <div class="col-lg-4 p-lg-5  mb-sm-30 wow fadeInRight" data-wow-delay=".4s">
                    <span class="p-title">About Us</span><br>
                    <h2>Justica is Your Best Partner for Legal Solutions</h2>
                </div>
                <div class="col-lg-4 wow fadeInRight" data-wow-delay=".6s">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Equipo</h2>
                    <div class="small-border"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".2s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="images/team/1.jpg" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Lic. Ricardo Azuela</h4>
                        Managing Partner
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".4s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="images/team/2.jpg" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Lic. David Macías</h4>
                        Senior Partner
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="images/team/3.jpg" class="fp-image img-fluid" alt="">
                        </div>
                        <h4>Lic. Álvaro Macías</h4>
                        Associate
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- content close -->
<a href="#" id="back-to-top"></a>
