@page
@model MRS.Pages.ServicesModel
@{
}

<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-white">
        <img src="images/background/subheader1.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="spacer-single"></div>
                        <h1>Servicios</h1>
                        <p>Seguridad. Ética. Compromiso.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-worker"></i>
                        <div class="text">
                            <h4>Servicios Jurídicos en Area Laboral</h4>
                        </div>
                        <i class="wm icofont-worker"></i>
                        <div class="spacer-single"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-safety"></i>
                        <div class="text">
                            <h4>Seguridad y Salud en el Trabajo</h4>
                        </div>
                        <i class="wm icofont-safety"></i>
                        <div class="spacer-single"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-architecture-alt"></i>
                        <div class="text">
                            <h4>Sistemas de Análisis de Puntos de Riesgo y Vulnerabilidad de Instalaciones</h4>
                        </div>
                        <i class="wm icofont-architecture-alt"></i>
                        <div class="spacer-single"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-industries-3"></i>
                        <div class="text">
                            <h4>Diseño, Capacitación y Gestión de Sistemas de Calidad en la Industria</h4>
                        </div>
                        <i class="wm icofont-industries-3"></i>
                        <div class="spacer-single"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-medical-sign-alt"></i>
                        <div class="text">
                            <h4>Salud Mental y Prevención de Factores de Riesgo Psicosocial en Centros de Trabajo</h4>
                        </div>
                        <i class="wm icofont-medical-sign-alt"></i>
                        <div class="spacer-single"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-first-aid"></i>
                        <div class="text">
                            <h4>Primeros Auxilios</h4>
                        </div>
                        <i class="wm icofont-first-aid"></i>
                        <div class="spacer-single"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>