@page
@model MRS.Pages.TeamModel
@{
}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" class="jarallax text-white">
        <img src="images/background/subheader4.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="spacer-single"></div>
                        <h1>El Equipo</h1>
                        <p>Seguridad. Ética. Compromiso.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    </section>
    <!-- section close -->
    <section data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <span class="p-title">Managing Partner</span><br>
                    <h2>
                        Lic. Ricardo Azuela
                    </h2>
                    <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                    <div class="social-icons s1">
                        
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container col-md-6 pos-right" data-bgimage="url(images/background/t1.jpg) center"></div>
    </section>
    <section data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 offset-md-7">
                    <span class="p-title">Senior Partner</span><br>
                    <h2>
                        Lic. David Macías
                    </h2>
                    <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                    <div class="social-icons s1">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container col-md-6" data-bgimage="url(images/background/t2.jpg) center"></div>
    </section>
    <section data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <span class="p-title">Associate</span><br>
                    <h2>
                        Lic. Álvaro Macías
                    </h2>
                    <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                    <div class="social-icons s1">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container col-md-6 pos-right" data-bgimage="url(images/background/t3.jpg) center"></div>
    </section>
    <section data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 offset-md-7">
                    <span class="p-title">Senior Partner</span><br>
                    <h2>
                        Lic. Crisely Gordillo
                    </h2>
                    <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                    <div class="social-icons s1">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container col-md-6" data-bgimage="url(images/background/t2.jpg) center"></div>
    </section>
    <section data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <span class="p-title">Associate</span><br>
                    <h2>
                        Lic. Cristian González
                    </h2>
                    <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                    <div class="social-icons s1">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container col-md-6 pos-right" data-bgimage="url(images/background/t3.jpg) center"></div>
    </section>
    <section data-bgcolor="#f2f2f2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 offset-md-7">
                    <span class="p-title">Senior Partner</span><br>
                    <h2>
                        Lic. Crisely Gordillo
                    </h2>
                    <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                    <div class="social-icons s1">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container col-md-6" data-bgimage="url(images/background/t2.jpg) center"></div>
    </section>
</div>